body{
  background: #eee;
  font-family: verdana;
}
button{
  border:0;
  padding:7px 15px;
  background:#2B7CFF;
  color:white;
  cursor: pointer;
}
input{
  padding:7px 15px;
  margin:2px;
  border:0;
  box-shadow:0 1px 2px 0px #ccc;
}
label{
  width:100px;
  display: block;
  float:left;
}
.content_home{
    background: #eee;
}
